/* Coolors Exported Palette - coolors.co/191f21-8b2635-558b6e-413c58-e0e2db */

/* HSL */
$color1: hsla(195%, 14%, 11%, 1);
$color2: hsla(351%, 57%, 35%, 1);
$color3: hsla(148%, 24%, 44%, 1);
$color4: hsla(251%, 19%, 29%, 1);
$color5: hsla(77%, 11%, 87%, 1);

/* RGB */
$color1: rgba(25, 31, 33, 1);
$color2: rgba(139, 38, 53, 1);
$color3: rgba(85, 139, 110, 1);
$color4: rgba(65, 60, 88, 1);
$color5: rgba(224, 226, 219, 1);
