{# ABOUT SECTION #}

<div class="container-fluid services" id="about">
    <div class="col-xs-12 col-sm-4 hidden-xs">
        <img src="{{ url("theme://images/portfolio/nine/nine-mobile-mock.png") }}" class="img-responsive center-block">
    </div>
    <div class="col-xs-12 col-sm-8">
        <h1 class="headline">Get To Know Me</h1>
        <h2>WHO IS TAYLOR FEDT?</h2>
        <p>
            I’m a UX Designer and Front-End Developer from Minneapolis, Minnesota. I'm naturally curious and a lover of anything digital or technology related. Since I was about 11 or 12-years old I’ve had a passion for the web as a platform for showcasing art and content. At age 12 I successfully created my first website and enlisted my friends to write content that we could post. From that point on, <i>I was hooked!</i>
        </p>
        <a href="{{ url("theme://downloads/TaylorFedt_Resume_2016.pdf") }}" download="TaylorFedt_Resume_2016">
            <button class="btn-cta btn-std-blue pull-left">
                <span class="glyphicon glyphicon-download-alt"></span>&nbsp;DOWNLOAD MY RESUME
            </button>
        </a>
    </div>
</div>
</div>
